body {
    font-family:'Oswald', sans-serif;
  }
body * {
    margin: 0;
    border: 0;
    padding: 0;
}
.logo{
    font-weight: 700;
    font-size: 2.5rem;
}
.navbar{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    background-color:#f9c74f;
}

header{
    background-image: url('../img/be_hero1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: auto;
    max-width: 100%;
    padding-top: 30rem;

}

h1{
    font-size: 4.5rem;
    font-weight: 200;
}
.nombre{
    font-weight: 700;
    font-size: 4.5rem;
    border-top: solid 2px white;
}

.carousel-indicators {
    position: relative;
    margin-top: 2rem;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#f9c74f;
}
.img-fluid{
    max-height: 3.12rem;
}
#mistrabajos{
    background-color: #1a1606;
}
.card{
    border-color:#1a1606;
}
.card-body{
    border-top: 1px solid #DDDDDD;
}     

footer{
    background-color:#f9c74f;
}
.redessociales a {
    color: #ffffff;
    text-decoration: none;
    margin: 0.2rem;
  }
mark{
    background-color:#f9c74f;
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
}
